html {
    background-color: rgb(0, 0, 0);
}

h1 {
    color:white;
}

a{
    color: rgb(255, 0, 255);
    text-decoration:none;
}

nav div h1{
    margin-left: 5%;
    margin-right: 5%;
}

nav div{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(28, 28, 28);
    justify-content: space-between;

}

nav div ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    align-items: center;
    color: rgb(150, 0, 150);
    margin-right: 5%;
}


.transactionblock{
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: rgb(76, 71, 123);
    margin: 1rem;
    margin-right: 4rem;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-weight: 300;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ult{
    list-style: none;
    display: flex;
    align-items: center;
}

.ult li p{
    overflow-wrap: break-word;
    display: flexbox;
    color:rgb(255, 255, 255);
    margin: 0 1rem;
}

.usertxt{
    width: 200px;
}

.spenttxt{
    width: 200px;
}

.entitytxt{
    color:rgb(255, 255, 255);
    width: 200px;
}

.entityimg{
    width: 150px;
    height: 50px;
}

footer{
    color:white;
}